// Mixins in here
.flex() {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: nowrap;
}

.button() {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    background-color: #6d6e70;
    font-size: 20px;
    color: white;
}

.paragraph(@j, @a) {
    display: flex;
    justify-content: @j;
    align-items: @a;
    margin-top: 2%;
}