// Mixins in here
.flex() {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: nowrap;
}

.button() {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 30px;
    border-radius: 10px;
    background-color: gray;
    font-size: 20px;
    color: white;
}