// Navigation Styles here

nav {
    width: 100%;
    display: flex;
    align-items: baseline;
    margin-top: 2%;
    margin-left: 8%;
    border-bottom: 2px dashed skyblue;

        h1 {
            margin-right: 30%;
        }

        a{
            padding: 1%;
            font-size: 1.7rem;
            text-decoration: none;
            color: black;
        }
}