// Navigation Styles here

nav {
    .flex();
    width: 100%;
    border-bottom: 1px dashed skyblue;

    a {
        font-size: 1.5rem;
        color: black;
        text-decoration: none;
        padding: 2%;
    }
}